* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 20px;
}

label {
  font-size: 13px;
  padding: 8px 0;
}

textarea {
  resize: none;
  background-color: #f5f5f5;
  border: none;
  margin: 8px 0 12px;
}

button {
  padding: 10px 30px;
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  transform: translateY(1px);
}
